.game {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 35px;
    outline: none;
    // margin-bottom: 50px;
  }
.game:focus{
  outline: none;
}
  
  .giveupbtn {
    width: 200px;
    border-color: rgba(255, 0, 0, 0.758);
    border: 2px solid red;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    display: block;
  }