.head_success {
    background-color: rgb(126, 231, 126);
    color: rgb(72, 24, 151);
  
    -webkit-box-shadow: 10px 10px 89px 0px rgba(59, 191, 49, 1);
    -moz-box-shadow: 10px 10px 89px 0px rgba(59, 191, 49, 1);
    box-shadow: 10px 10px 89px 0px rgba(59, 191, 49, 1);
    .modal-content {
      .modal-header {
        justify-content: center;
      }
    }
  }