.head_giveup {
    background-color: rgb(179, 58, 28);
    color: rgb(72, 24, 151);
  
    -webkit-box-shadow: 10px 10px 89px 0px rgb(179, 58, 28);
    -moz-box-shadow: 10px 10px 89px 0px rgb(179, 58, 28);
    box-shadow: 10px 10px 89px 0px rgb(179, 58, 28);
    .modal-content {
      .modal-header {
        justify-content: center;
      }
    }
}